.green{
    background-color:plum !important;
  
}
.yellow{
    background-color:yellow !important;
}
.orange{
    background-color: orange !important;
}
.red{
background-color:red !important;
}
.violet{
    background-color:rgb(0, 233, 19) !important;
    color:rgb(228, 84, 84);
}
